*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.railway{
  overflow-x: hidden;
}

.front{
  position: relative;
}
.book{
  position: absolute;
  margin-top: -900px;
}
.bookpnr{
  position: absolute;
  margin-top: -500px;
}
.card{
  background-color: aqua;
  box-shadow: 4px 4px 4px 4px white;
}
.mainnav ul li:hover{
  background-color: aqua;
  color: aquamarine;
}
li{
  color: black;
}

.trainnav:hover{
  background-color: thistle;
  border-radius: 40px;
}